@import "./variables";

.s1 {
    background-color: $gray-3;
    min-height: 100vh;
}
.s2 {
    background: $color-chocolate;
    padding: $padding + 20;
}
.design {
    color: $white;
    display: flex;
    flex-direction: column;
    background-color: $gray-1;
    min-height: 100vh;
    padding: $padding + 20;
    article {
        margin-bottom: 60px;
    }
    h3 {
        font-size: 1.2rem;
        margin-bottom: 20px;
        text-align: left;
        border-bottom: 1px solid rgba($white, 0.5);
    }
}
