@import url("https://fonts.googleapis.com/css2?familyLato&=Rubik:wght@400;500;600;700;900&display=swap");
$yellow: #f5e163;
$gray: #808080;
$font: "Rubik", sans-serif;
$body: "Lato", sans-serif;

//ACCESABILITY OPTIONS
@media screen and (prefers-reduced-motion: reduce) {
    * {
        /* Very short durations means JavaScript that relies on events still works */
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}

/* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 1200px;
        margin: auto;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/* When the browser is at less than 600px */
@media screen and (max-width: 600px) {
    .container {
        max-width: 600px;
        margin: auto;
        height: 100vh;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    font-family: $font;
    font-weight: 900;
    padding: 5px 20px;
}
h2 {
    font-family: $font;
    font-weight: 700;
    padding: 5px 20px;
}
h3 {
    font-family: $font;
    font-weight: 500;
    padding: 5px 20px;
}
p {
    font-family: $body;
    padding: 5px 20px;
    line-height: 1.35rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.blank {
    background-color: #808080;
}
.center2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.center1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-width: 900px;
    margin: 20px 40px;
}

.card-container {
    position: relative;
    display: flex;
    height: 100vh;
}
.card {
    background-color: rgb(251, 255, 0);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    // border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 1;
    filter: blur(8px);
    mix-blend-mode: overlay;
    h1 {
        color: rgb(0, 255, 106);
        font-size: 5rem;
    }
}
.card1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    // border: 10px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 40px;
    width: 100px;
    height: 100px;
    mix-blend-mode: overlay;
    z-index: 2;
    filter: blur(8px);

    h1 {
        color: rgb(255, 0, 0);
        font-size: 5rem;
    }
}
.card2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 10px solid rgb(200, 255, 0);
    border-radius: 50%;
    padding: 40px;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 174, 0);
    mix-blend-mode: overlay;
    z-index: 2;

    h1 {
        color: rgb(238, 255, 0);
        font-size: 5rem;
        letter-spacing: 1px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
}
.card3 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    // border: 10px solid rgb(200, 255, 0);
    border-radius: 50%;
    padding: 40px;
    width: 100px;
    height: 100px;

    mix-blend-mode: difference;
    z-index: 3;

    h1 {
        color: rgb(0, 0, 0);
        font-size: 5rem;
        letter-spacing: 2px;
        -webkit-text-stroke-width: 6px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
    }
}
