@import url("https://fonts.googleapis.com/css2?familyLato&=Rubik:wght@400;500;600;700;900&display=swap");
@media screen and (prefers-reduced-motion: reduce) {
  * {
    /* Very short durations means JavaScript that relies on events still works */
    -webkit-animation-duration: 0.001ms !important;
            animation-duration: 0.001ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.001ms !important;
            transition-duration: 0.001ms !important;
  }
}

.splash {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
}

/* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {
  body {
    background-color: #808080;
  }
  .container {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1200px;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1200px;
    margin: auto;
  }
  .header {
    max-width: 400px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

/* When the browser is at less than 600px */
@media screen and (max-width: 600px) {
  .container {
    max-width: 600px;
    margin: auto;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  padding: 5px 20px;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  padding: 5px 20px;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 5px 20px;
}

p {
  font-family: "Lato", sans-serif;
  padding: 5px 20px;
  line-height: 1.35rem;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: auto;
}

.blank {
  background-color: #808080;
}

.center2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.center1 {
  margin: 120px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  max-width: 900px;
  margin: 20px 40px;
}

.card-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.card {
  background-color: #fbff00;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 1;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  mix-blend-mode: overlay;
}

.card h1 {
  color: #00ff6a;
  font-size: 5rem;
}

.card1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 50%;
  padding: 40px;
  width: 100px;
  height: 100px;
  mix-blend-mode: overlay;
  z-index: 2;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.card1 h1 {
  color: red;
  font-size: 5rem;
}

.card2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border: 10px solid #c8ff00;
  border-radius: 50%;
  padding: 40px;
  width: 100px;
  height: 100px;
  background-color: #ffae00;
  mix-blend-mode: overlay;
  z-index: 2;
}

.card2 h1 {
  color: #eeff00;
  font-size: 5rem;
  letter-spacing: 1px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.card3 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 50%;
  padding: 40px;
  width: 100px;
  height: 100px;
  mix-blend-mode: difference;
  z-index: 3;
}

.card3 h1 {
  color: black;
  font-size: 5rem;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: white;
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}

.navbar a {
  color: #808080;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-weight: 700;
  text-shadow: 1px 2px 6px;
}
/*# sourceMappingURL=index.css.map */