@import url("https://fonts.googleapis.com/css2?familyLato&=Rubik:wght@400;500;600;700;900&display=swap");
$yellow: #f5e163;
$gray: #808080;
$font: "Rubik", sans-serif;
$body: "Lato", sans-serif;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    font-family: $font;
    font-weight: 900;
}
h2 {
    font-family: $font;
    font-weight: 700;
}
h3 {
    font-family: $font;
    font-weight: 500;
}
p {
    font-family: $body;
    padding: 5px 20px;
    line-height: 1.35rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: auto;
    height: 100vh;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
