@import "./sections";
@import "./variables";
@import "./animations";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.bg-image {
    display: grid;
    grid:
        "copy empty" 1fr
        "bottom bottom" 80%
        / 1fr 1fr;
    background-color: $gray-4;
    background-image: url("/1.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 480px;
    max-width: 1000px;
}
.bg-image2 {
    display: grid;
    grid:
        "copy empty" 1fr
        "bottom bottom" 80%
        / 1fr 1fr;
    background-color: $gray-3;
    background-image: url("/DSC03699.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 480px;
    max-width: 1000px;
}
.copy {
    p {
        color: $white;
        margin-left: 20px;
        line-height: 1.6em;
        min-width: 25ch;
        margin-top: 20px;
    }
    grid-area: copy;
}
.empty {
    grid-area: empty;
}
.bottom {
    grid-area: bottom;
    margin-left: 20px;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: $color-pistachio;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}
li {
    padding: 10px;
    margin-right: 20px;
    list-style: none;
}
nav {
    position: sticky;
    top: 0;
    background-color: $gray-8;
    height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 10;

    ul {
        display: flex;
        flex: column;
    }
    li {
        padding: 10px;
        margin-right: 20px;
    }
}

a,
a:active {
    text-decoration: none;
    color: $blue;
    transition: $transition;
}
a:hover {
    transition: $transition;
    color: $green;
}
img {
    @include center;
    display: block;
    color: $black;
    font-size: 1rem;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}
figcaption {
    color: $gray-3;
    padding: $padding + 5;
    font-weight: 600;
}
small {
    text-align: center;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 1rem;
    font-style: italic;
    color: $white;
}
.app-icon {
    height: 50px;
    width: 50px;
}
.bg-white {
    background: rgba($white, 0.85);
}
.blue {
    color: $blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white;
}

.brown {
    color: $color-chocolate;
}

.card {
    margin: 10px;
    padding: $padding + 10;
    min-height: 100px;
    border-radius: 10px;
    background: rgba($black, 0.4);
    height: auto;
    transition: $transition;
    h2 {
        text-align: center;
        color: rgba($white, 0.7);
        margin: 10px;
        font-size: clamp(0.2, 2rem, 3vw);
    }
    img {
        display: block;
        border: 2px solid white;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}
.card:hover {
    background: rgba($white, 0.2);
    cursor: pointer;
    box-shadow: $box-shadow;
    transform: translateY(-1.3%);
    transition: $transition;
    border-radius: 13px;

    h2 {
        transition: $transition;
        text-align: center;
        color: rgba($black, 0.8);
    }
    small {
        transition: $transition;
        color: $black;
    }
}
.card2 {
    margin: 10px;
    padding: $padding + 10;
    min-height: 90px;
    border-radius: 10px;
    background: rgba($black, 0.4);
    height: auto;
    transition: $transition;
    max-width: 300px;
    h2 {
        text-align: center;
        color: rgba($white, 0.7);
        margin: 10px;
        font-size: 1rem;
    }
    img {
        display: block;
        // border: 1px solid white;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}
.card2:hover {
    background: rgba($white, 0.2);
    cursor: pointer;
    box-shadow: $box-shadow;
    transform: translateY(-1.3%);
    transition: $transition;
    border-radius: 13px;
}
.gallery {
    display: flex;
    flex-direction: column;
    color: $white;
    text-align: center;
}
.icon-sm-blk {
    width: 25px;
    height: 25px;
    fill: rgba($red-orange, 0.7);
}
.col-2l {
    display: grid;
    grid-template-columns: minmax(0px, 20px) 2fr;
    gap: 20px;
}
.col-2la {
    display: grid;
    grid-template-columns: minmax(40px, 60px) 2fr;
    column-gap: 20px;
}
.container {
    position: relative;
    z-index: 1;
    background-color: #8dba70;
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    overflow: hidden;
}
.center {
    display: grid;
    place-content: center;
}

.content {
    z-index: 100;
    margin: 20px;

    h1 {
        font-size: 5rem;
        z-index: 2;
        text-shadow: 0px 0px 7px rgba($black, 0.39);
    }
    h2 {
        font-weight: 600;
        color: $white;
        max-width: 30ch;
        text-shadow: 0px 0px 7px rgba($black, 0.39);
        // margin-top: px;
        margin-bottom: 12px;
    }

    .intro {
        a {
            color: $white;
            margin-left: 10%;
            font-weight: 700;
            letter-spacing: 0.3em;
            // text-decoration: underline;
            // text-shadow: 0px 0px 6px $color-pistachio;
        }
    }
}
.intro ::first-letter {
    font-size: clamp(1.7rem, 2.1rem, 3vw); /* min, val, max */
    font-weight: 500;
}
.col5 {
    @include block;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: $padding;
    gap: 10px;
    img {
        border-radius: $border-radius;
        display: block;
    }
}

.grid > * {
    flex: 1 1 280px;
}
.grid {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header {
    background-color: rgba($black, 0.4);
    padding: $padding;
    h3 {
        // text-align: center;
        font-size: 2rem;
        font-weight: 600;
        color: $white;
        max-width: 30ch;
        text-shadow: $text-shadow;
    }
}
.hero {
    display: flex;
    place-content: center;
    @include block;
    background: rgba($black, 0.5);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: clamp(2em, 3em, 3vw);
    margin: clamp(2.5em, 2.5em, 3vw);
    p {
        font-size: clamp(0.9rem, 1.2rem, 2vw);
        font-weight: 600;
        color: rgba($white, 0.9);
        line-height: 1.6em;
    }
    a {
        color: $white;
        text-decoration: underline;
    }
    a:hover {
        color: $color-pistachio;
    }
}

.icon {
    cursor: pointer;
    margin: $margin;
    height: 45px;
    width: 45px;
    fill: rgba($white, 0.6);
    transition: $transition;
}
.icon:hover,
.icon:active {
    cursor: pointer;
    transition: $transition;
    fill: rgba($blue, 0.9);

    transform: scale(1.1);
}
.icon-row {
    display: grid;
    grid-template-columns: repeat(9, 1fr [col-start]);
}

// Laoding screen and animations
.loader {
    height: 350px;
    width: 350px;
    p {
        white-space: nowrap;
        color: rgba($white, 0.9);
        font-size: 2.5rem;
        font-weight: 900;
        text-align: center;
    }
}

.outline {
    color: #8dba70;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.name-heading {
    color: rgba($white, 0.7);
    font-family: "Courgette", cursive;
    font-size: 1.5rem;
    padding-left: 10px;
    border-bottom: 1px solid rgba($white, 0.3);
}
.page-intro {
    @include block;
    color: $white;
    h2 {
        letter-spacing: 0.3em;
        font-size: clamp(1.3rem, 2.3rem, 3vw);
    }
}

.split {
    columns: 400px 2;
    padding: clamp(20px, 40px, 4vw); /* min, val, max */
    p {
        @include block;
        line-height: 1.6em;
    }
}

.section__body {
    padding: $padding;
}
.stack {
    display: block;
}
.title {
    h6 {
        white-space: nowrap;
        color: rgba($black, 0.7);
        font-weight: 500;
        font-size: clamp(2rem, 2.8rem, 3.3vw); /* min, val, max */

        margin-bottom: -10px;
    }
}
.section__header {
    background: rgba($black, 0.03);
    margin-top: -40px;
}
.section-header {
    h2 {
        @include block;
        font-size: 2.5rem;
        margin-left: 10px;
        color: $white;
    }
}
.small-header {
    h3 {
        padding: $padding;
        margin-left: 20px;
    }
}
.wireframe {
    svg {
        position: absolute;
        z-index: -10;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        background-color: #cccccc;
        height: 37px;
        text-transform: uppercase;
        font-weight: 600;
        ul {
            display: flex;
            flex: column;
            font-size: 0.9rem;
        }
        li {
            padding: 10px;
            margin-right: 10px;
        }
    }
    .content {
        z-index: 100;

        h1 {
            font-size: 3rem;
            z-index: 2;
        }
        h2 {
            font-size: 1.2rem;
            max-width: 30ch;
        }
        .intro {
            margin: auto;
            margin-top: 10%;
            padding: 1.2em;
            max-width: 35ch;
            font-size: 1.1rem;
        }
    }
    .wireframe {
        svg {
            position: absolute;
            z-index: -10;
            left: -60%;
            top: 3%;
            width: 170%;
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content {
        z-index: 100;
        margin: 20px;

        h1 {
            font-size: 3.5rem;
            z-index: 2;
        }
        h2 {
            font-size: 1.5rem;
            max-width: 30ch;
        }
        .intro {
            margin: auto;
            margin-top: 5%;
            padding: 1.3em;
            max-width: 65ch;
            font-size: 1.1em;
            line-height: 1.6em;
        }
    }
    .wireframe {
        svg {
            position: absolute;
            z-index: -10;
            left: -7%;
            top: 3%;
            width: 120%;
        }
    }
}
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}
// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content {
        z-index: 100;
        margin: 20px;
        h1 {
            font-size: 5rem;
            z-index: 2;
        }
        h2 {
            font-size: 1.5rem;
            max-width: 35ch;
        }
        p {
            font-size: 1.1em;
            padding: 10px;
        }
        .intro {
            margin: auto;
            padding: 1.2em;
            max-width: 80ch;
        }
    }
    .wireframe {
        svg {
            position: absolute;
            z-index: -10;
            width: 100%;
            left: 0%;
            top: 5%;
        }
    }
}
// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
